<table>
<tr>
  <td style="width:100px; font-size:20pt; font-weight:bold;"><%= link_to "All", quests_url %></td>
  <td style="width:200px; font-size:20pt; font-weight:bold;"><%= link_to "Ongoing", quests_url+"/ongoing" %></td>
  <td style="width:200px; font-size:20pt; font-weight:bold;"><%= link_to "Finished", quests_url+"/finished" %></td>
  <td style="width:120px; font-size:20pt; font-weight:bold;"><%= link_to "New", quests_url+"/new" %></td>
  <td style="width:100px; font-size:20pt; font-weight:bold;"><%= link_to "Last", quests_url+"/last" %></td>
</tr>
</table>
<hr />